@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
header {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: transform 0.4s ease-in-out;
}

/* Navbar Moves Up */
.nav-up {
    transform: translateY(-100px);
}

/* Navbar Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
}

/* Navbar Centered Items */
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Navbar Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007BFF;
}

/* Right Menu (Register, Login, Profile Icon) */
.right-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Authentication Toggle */
.auth-toggle {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #dcf5e3;
    padding: 4px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Auth Buttons */
.auth-toggle a {
    text-decoration: none;
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 25px;
    transition: all 0.3s;
}

#login-btn {
    color: black;
}

/* Active Register Button */
.auth-toggle a.active {
    background: #28a745;
    color: white;
}

/* Profile Icon */
.profile-icon {
    cursor: pointer;
    font-size: 30px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.profile-icon:hover {
    color: #007BFF;
    transform: scale(1.1);
}


#footer {
    margin-top: auto;
    padding: 35px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    background: #007BFF;
    color: white;
}

.hidden {
    display: none !important;
}

.admin-code {
    font-size: 0.9rem;
    color: #ff5722;
    font-weight: bold;
    margin-top: 5px;
}



